/* POKEMONS LIST */
.pokemons {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
}

/* POKEMON LIST ITEM */
li.pokemon {
  margin: 0.5rem;
  color: #333;
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

li.pokemon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: url(../imgs/pokePattern_01.svg) center/ 75% no-repeat;
  border-radius: 0.5rem;
  border-bottom: 2px solid #fff;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  z-index: -1;
}

.placeholder {
  height: 8.5rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border-bottom: 2px solid #fff;
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.7);
  background: linear-gradient(
    90deg,
    rgba(243, 243, 243, 0.2) 25%,
    rgba(224, 224, 224, 0.5) 50%,
    rgba(243, 243, 243, 0.2) 75%
  );
  background-size: 200% 100%;
  pointer-events: none;
  animation: load 1.5s infinite linear;
}

@keyframes load {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.pokemon .basic-info {
  border-radius: 0.5rem 0.5rem 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.75rem;
  background: #eee url(../imgs/pokePattern_02.svg) center / 25px repeat;
}

li.pokemon span {
  font-weight: bold;
}

.pokemon .basic-info .name {
  text-transform: capitalize;
}

.pokemon .basic-info .number {
  opacity: 0.7;
}

.pokemon .detail {
  position: relative;
  overflow: hidden;
  padding: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.pokemon .detail .types {
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0 0.35rem;
  list-style: none;
}

.pokemon .detail .types span {
  font-weight: 700;
  font-size: 0.75rem;
  margin: 0.5rem 0;
}

.pokemon .detail .types .type {
  min-width: 3.5rem;
  padding: 0.5rem 0.65rem;
  margin: 0.5rem 0;
  color: #fff;
  font-size: 1rem;
  font-weight: 900;
  border-radius: 1rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 1);
  -moz-filter: contrast(1.2) saturate(2);
  -webkit-filter: contrast(1.2) saturate(2);
  filter: contrast(1.2) saturate(2);
}

.pokemon .detail img {
  max-width: 100%;
  height: 7rem;
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.8));
}

.box {
  -webkit-transform: perspective(1000px);
  -moz-transform: perspective(1000px);
  transform: perspective(1000px);
  transform-style: preserve-3d;
  border-radius: 0.5rem;
}

.inner {
  -webkit-transform: translateZ(20px);
  -moz-transform: translateZ(20px);
  transform: translateZ(20px);
}

.inner-soft {
  -webkit-transform: translateZ(15px);
  -moz-transform: translateZ(15px);
  transform: translateZ(15px);
}

/* MEDIA QUERIES */
@media screen and (min-width: 385px) {
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }

  .pokemon::before {
    background: url(../imgs/pokePattern_01.svg) center top/ 100% no-repeat;
  }

  .pokemon .basic-info {
    padding: 0.35rem 0.5rem;
  }

  .pokemon .detail img {
    height: 5rem;
  }

  .pokemon .detail .types .type {
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.813rem;
  }

  .pokemon .detail .types span {
    margin: 0.25rem 0;
  }
}

@media screen and (min-width: 768px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 900px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}
